{% extends 'base.html' %} 
{% block bodyclass %}
class="body-contact"
{% endblock %}
{% block content %}

<h1>Cart Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ cart.name }}</span>
      </div>
      <div>{{ cart.items.all}}</div>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col s6">
    {% comment %} <!-- toys a cat has -->
    <h3>{{ cart.name }}'s Items</h3>
    {% if cart.items.count %}
      {% for item in cart.items.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              A {{ item.name }}
            </span>
          </div>
        </div>
      {% endfor %}
      {% else %}
        <h5>{{ cart.name }} doesn't have any items yet :( </h5>    
    {% endif %}
  </div>
  <div class="col s6">
    <!-- toys a cat does NOT have -->
    <h3>Available Items</h3>
    {% if items.count %}
      {% for item in items%}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              A <span>{{ item.materials }}</span>
              {{ item.name }}
            </span>
                <img src="{{ item.image}}" alt="">
                <p> {{ item.description }}</p>
                <p>${{ item.price }}</p>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_toy' cart.id item.id %}" method="POST">
              {% csrf_token %}
              <input type="submit" value="Add" class="btn">
            </form>
          </div>
        </div>
      {% endfor %}
      {% else %}
      <h5>{{ cart.name }} Already Has All Items Available</h5>
    {% endif %}   {% endcomment %}
  </div>
</div>
{% endblock %}